<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('_bootstrap_meta')%>
  <title>Records</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
      margin: 0;
      padding: 0;
    }

    .container {
      width: 50%;
      margin: 40px auto;
    }

    .form-wrapper {
      padding: 20px;
      border: 1px solid #ced4da;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h3 {
      margin-top: 0;
      margin-bottom: 20px;
      text-align: center;
      font-size: 24px;
      color: #333;
    }

    .form-label {
      font-weight: bold;
    }

    .form-control {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ced4da;
      border-radius: 4px;
      margin-bottom: 20px;
    }

    .btn-primary {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 16px;
      text-align: center;
      background-color: #007bff;
      border: none;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
    }

    .btn-primary:hover {
      background-color: #0056b3;
    }
  </style>
</head>

<body>
  <div class="container">
    <form class="form-wrapper" action="/admin/add-employee" method="post">
      <div class="mb-3">
        <h3>Add Employee</h3>
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="John Doe" required />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="abc@email.com" name="email" required />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required />
      </div>

      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required />
      </div>
      <button class="btn btn-primary">Create Employee</button>
    </form>
  </div>
  <%- include('_bootstrap_script')%>
</body>

</html>
